* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*variables*/
:root{
  --main--font: 'Montserrat', sans-serif;
  --secondary--font: 'Raleway', sans-serif;
}


/*MAP para los iconos de seccion equipo*/
.fa-facebook {
  background-color: #8a8ad3; }

.fa-whatsapp {
  background-color: #70a770; }

.fa-instagram {
  background-color: #ce8893; }

.fa-brands {
  padding: 17px 3px 17px 3px;
  border-radius: 35%; }

body {
  background-color: white;
  border: none;
  max-width: 100vw; }

#contacto{
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  margin: 25px;
}

#areas{
  margin-top: 45px;
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

#about{
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  border-radius: 5px;
}

#index{
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 180px;
  border-radius: 5px;
}

#equipo{
  background-color: #f4f4f4;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  margin-top: 25px;
}


/*NAV*/
.navbar {
  background-color: #011e61;
}
  .navbar .nav-item {
    font-size: 20px;
    color: white;
  }

.img-nav{
  margin-left: 15px;
}

#navbar-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 170px;
}

/*carousel*/
#carouselExampleSlidesOnly{
  width: 90%;
  margin: 0 auto;
}

/* TIPOGRAFIA titulo y subtitulo*/
a {
  list-style: none;
  text-decoration: none;
  color: black; }

.pIndex {
  font-family: var(--secondary--font);
  font-size: 20px; 
}

p{
  font-family: var(--secondary--font);
}

li {
  list-style: none; }

h1 {
  color: #011e61;
  font-family: var(--main--font);
  font-size: 45px; }

.subtitle {
  color: #011e61; }


/*BODY CARDS*/
.card{
  height: 100%;
}
.card-body {
  transition: all 0.3s;
text-align: center;
line-height: 30px; }
  .card-body:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; }
  .card-body .card-title {
    color: #30376f;
    font-family: var(--main--font); }

.imgindex {
  height: 550px;
  object-fit: cover;
}

.imgmiembros, .imgmiembro2, .imgmiembro3, .imgmiembro4 {
  height: 320px;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #524f4f;
  animation-name: imgtraslado;
  animation-duration: 1s;
  transition: transform 0.3s; }
  .imgmiembros:hover, .imgmiembro2:hover, .imgmiembro3:hover, .imgmiembro4:hover {
    transform: scale(102%); }


/* iframe de ubicacion */
iframe {
  border-radius: 5px; }
  iframe:hover {
    transform: scale(102%);
    transition: all 0.5s; 
  }

.container-member{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*FOOTER*/
#footer {
  background-color: #30376f;
  width: 100%; 
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* animaciones de las img de seccion equipo*/
@keyframes imgtraslado {
  0% {
    transform: translate(500px, 0); }
  75% {
    transform: scale(150%); }
  100% {
    transform: scale(110%); } }

/* Animaciones seccion trayectoria */
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.pTrayectoria1 {
  animation-delay: 0.5s; }

.pTrayectoria2 {
  animation-delay: 1s; }

.pTrayectoria3 {
  animation-delay: 1.5s; }

.pTrayectoria4 {
  animation-delay: 2s; }

.pTrayectoria5 {
  display: flex;
  justify-content: center;
  animation-delay: 2.5s; }

cite {
  font-style: italic; }

/* Animaciones seccion Areas de practica y contacto */
.roll-in-left {
  animation: roll-in-left .6s ease-out both; }

@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

.roll-in-blurred-right {
  animation: roll-in-blurred-right 0.65s cubic-bezier(0.23, 1, 0.32, 1) both; }

@keyframes roll-in-blurred-right {
  0% {
    transform: translateX(1000px) rotate(720deg);
    filter: blur(50px);
    opacity: 0; }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1; } }

/* MEDIAS para poner en columna el nav y separar las cards cuando estan en columnas*/
@media only screen and (max-device-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 5px 0; }
  .card {
    margin: 5px 0; }
  body {
    position: relative; }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%; } }
